<div class="w-full input-wrapper">
    <div class="form-group">
       <label class="label" for="{{ id }}">{{ label ? label : '' }}</label>
        <input class="input" id="{{ id }}" name="{{ id }}" type="{{ type ? type : 'text' }}" placeholder="{{ placeholder? placeholder : '' }}" {{ $props.serializeOnly(['pattern']) }}>
     
    </div>
    <div class="helper">
        <p>Please fill {{ id }} field correctly.</p>
    </div>
</div>